@import "vpl-energy-global-css";

.via-slds .via-slds-card--horiz {
    .slds-chevron-right:hover,.slds-chevron-left:hover, {
        color: rgb(19, 126, 235);
        cursor: pointer;
    }
    .slds-vlc-usage-btn {
        cursor: pointer;
    }

    .slds-border_bottom {
        border-bottom-color: $dark-blue;
        border-width: 2px;
        font-weight: $font-weight-bold;
    }

    .via-slds-card__header {
        background-clip: padding-box;
        background-color: #f4f6f9;
        border-bottom: 2px solid #d8dde6;
        margin-bottom: 0;
    }
    
    .via-slds-x-small-card__body > .via-slds-grid {
        border-bottom: 1px solid #d8dde6;
    }
    
    .via-slds-card__body {
        background-color: #FFF;
        background-clip: padding-box;
    }
}


//create slds pop-over for toolip used in graph
.slds-popover {
    position: relative;
    border-radius: .25rem;
    width: 20rem;
    min-height: 2rem;
    z-index: 6000;
    background-color: #fff;
    display: inline-block;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.16);
    border: 1px solid #dddbda;
}    

.slds-popover_small, .slds-popover--small {
    max-width: 15rem;
}

.slds-popover *:last-child {
    margin-bottom: 0;
}

.slds-popover__body_small {
    max-height: 15rem;
    overflow-y: auto;
}

.slds-popover__body, .slds-popover__header, .slds-popover__footer {
    position: relative;
    padding: .5rem .75rem;
    word-wrap: break-word;
}