<div class="slds-card via-slds-card--horiz" data-card="card-{{cardIndex}}" ng-class="{selected:isSelected(cardIndex)}" data-popover-flyout="true" ng-controller="usageGraphCtrl" ng-init="usageGraph = 1">
    <div class="slds-small-show slds-card__body via-slds-card__body sldsslds-grid slds-grid--vertical slds-theme--default slds-p-around_large">
        <div class="slds-usage-select slds-p-around_small">
            <div>

                <div class="slds-grid slds-gutters">
                <div class="slds-col">
                    <span></span>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="select-01">Estados: </label>
                            <div class="slds-form-element__control">
                            <div class="slds-select_container">
                                <select class="slds-select" ng-model="stateValue" ng-change="onChangeState()" ng-options="state as state for state in states"></select>
                            </div>
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="select-02">Punto de suministro: </label>
                            <div class="slds-form-element__control">
                            <div class="slds-select_container">
                                <select class="slds-select" ng-model="stateValue" ng-change="onChangePSuministro()" ng-options="p_suministro as p_suministro for p_suministro in p_suministros"></select>
                            </div>
                            </div>
                        </div>
                </div>
                <div class="slds-col">
                    <span></span>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="select-03">Sociedad Engie: </label>
                            <div class="slds-form-element__control">
                            <div class="slds-select_container">
                                <select class="slds-select" ng-model="stateValue" ng-change="onChangeSEngie()" ng-options="s_engie as s_engie for s_engie in s_engies"></select>
                            </div>
                            </div>
                        </div>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="select-04">Tipo de solución: </label>
                            <div class="slds-form-element__control">
                            <div class="slds-select_container">
                                <select class="slds-select" ng-model="stateValue" ng-change="onChangeTypeSolution()" ng-options="t_solution as t_solution for t_solution in t_solutions"></select>
                            </div>
                            </div>
                        </div>
                </div>
                <div class="slds-col">
                    <span></span>
                        <div class="slds-form-element">
                            <label class="slds-form-element__label" for="select-05">Periodo: </label>
                            <div class="slds-form-element__control">
                            <div class="slds-select_container">
                                <select class="slds-select" ng-model="stateValue" ng-change="onChangePeriod()" ng-options="period as period for period in periods"></select>
                            </div>
                            </div>
                        </div>			
                </div>
                </div>

            </div>
            <!--Graph-->
            <!--Graph-->
            <!--Graph-->
            <div class="slds-grid slds-gutters slds-p-bottom_large">
                <!--<div ng-click="usageGraph = 1">
            <div class="slds-text-body_regular slds-p-left_large">
              <span  class="slds-vlc-usage-btn" ng-class="{'slds-border_bottom ': usageGraph == 1}" >Electricidad</span>
            </div>
        </div>-->
                <div ng-click="usageGraph = 1">
                    <div class="slds-text-body_regular slds-p-left_large">
                        <span class="slds-vlc-usage-btn" ng-class="{'slds-border_bottom ': usageGraph == 2}">Gas Natural</span>
                    </div>
                </div>
                <!--<div class="slds-col slds-text-align_right">
                    <slds-button-svg-icon class="slds-chevron-left" sprite="'utility'" icon="'chevronleft'" no-hint="true" ng-if="!isSelected(cardIndex)" style="vertical-align: sub;pointer-events: none;opacity: 0.2;"></slds-button-svg-icon>
                    <span class="slds-text-body_regular">Periodo </span>
                    <span class="slds-text-body_regular">({{cycleDate}})</span>
                    <slds-button-svg-icon class="slds-chevron-right" sprite="'utility'" icon="'chevronright'" no-hint="true" ng-if="!isSelected(cardIndex)" style="vertical-align: sub;vertical-align: sub;pointer-events: none;opacity: 0.2;"></slds-button-svg-icon>
                </div>-->
            </div>
        </div>
        <!--<div ng-show="usageGraph == 1" class="slds-electricity-usage">
            <div class="slds-col slds-grid slds-wrap slds-grid--align-spread">
                <canvas id="electrictyUsageChart"></canvas>
            </div>
        </div>-->
        <div ng-show="usageGraph == 1" class="slds-natural-gas-usage">
            <div class="slds-col slds-grid slds-wrap slds-grid--align-spread" id="result-chart">
                <canvas id="gasUsageChart"></canvas>
            </div>
        </div>
    </div>
</div>