@import "vpl-energy-global-css";

.vpl-assistant_icon {
    .slds-text-heading_small {
        font-weight: $font-weight-bold;
    }

    .vpl-line { 
        border-left: 2px solid #3695FA;
        //position: absolute;
        box-shadow: 0px 0px 0.3px 0.3px #3695FA;
        &:not(:first-child) {
            margin-left: 2px;
        }    

        &.one {
            height: 4px;
            top: 64px;
            // margin-left: 5px;
        }

        &.two {
            height: 9px;
            top: 61px;
            // margin-left: 10px;
        }

        &.three {
            height: 15px;
            top: 58px;
            // margin-left: 15px;
        }

        &.four {
            height: 9px;
            top: 61px;
            // margin-left: 20px;
        }

        &.five {
            height: 4px;
            top: 64px;
            // margin-left: 25px;
        }

    }

    .element {
        margin: 5px;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        box-shadow: 0px 0px 9px 4px #3695FA;
        animation: glowShadow 1s linear infinite alternate;
        border: 2px solid #1681f9;
    }

    img {
        width: 100%;
        height: 100%;
        animation: glowImage 1s linear infinite alternate;
    }

    @keyframes glowShadow{
        to {
            box-shadow: 0px 0px 26px 5px #3695FA;
        }
    }


}