<!--section class="vpl-sidebar-account slds-m-around_small slds-m-bottom_small slds-border_bottom"-->
<section class="vpl-sidebar-account slds-m-around_small slds-m-bottom_small slds-border_bottom" ng-controller="sidebarAccountCtrl">
        <div ng-repeat="field in data.fields">
          <div class="slds-truncate slds-text-align_left slds-p-around_x-small slds-m-left_xx-small" title="data1" >
          <span class="column-icon"><slds-svg-icon ng-if="field.label=='Address'"size="'x-small'" extra-classes="'slds-icon--selected slds-m-right--x-small'" style="fill: #706e6b;"  sprite="'utility'" icon="'home'" ></slds-svg-icon></span>
          <span class="column-icon"><slds-svg-icon ng-if="field.label=='Email'"size="'x-small'" extra-classes="'slds-icon--selected slds-m-right--x-small'" style="fill: #706e6b;"  sprite="'utility'" icon="'email'" ></slds-svg-icon></span>
          <span class="column-icon"><slds-svg-icon ng-if="field.label=='Phone'"size="'x-small'" extra-classes="'slds-icon--selected slds-m-right--x-small'" style="fill: #706e6b;"  sprite="'action'" icon="'call'" ></slds-svg-icon></span>
          <span class="column-icon"><slds-svg-icon ng-if="field.label=='ECRValue'"size="'x-small'" extra-classes="'slds-icon--selected slds-m-right--x-small'" style="fill: #706e6b;"  sprite="'action'" icon="'update'" ></slds-svg-icon></span>
          <span class="column-text">{{ obj | getter: field | picker: field.type | phone }}</span>
          </div>
        </div>
</section>