.vpl-sidebar-account {
    .slds-icon{
        fill:#DCDCDC;
    }
    .column-icon{
        display: inline;
        color:black;
    }

    .column-text{
        margin-left:10px;
        font-size: 12px;
        line-height:14px;
        vertical-align:baseline;
        letter-spacing:normal;
        word-spacing:0px;
        font-weight:400;
        font-style:normal;
        font-variant:normal;
        text-transform:none;
        text-decoration:none solid rgb(0, 0, 0);
        text-align:start;
        text-indent:0px;
    }
    .br{
        display: none;
        }

}