.via-slds .via-slds-card--horiz {
    height: 100%;
    table th,table td {
        border-color: rgba(220,220,220, .2);
        border-width: 2px;
    }
    .via-slds-card__header {
        background-clip: padding-box;
        background-color: #f4f6f9;
        border-bottom: 2px solid #d8dde6;
        margin-bottom: 0;
    }
    
    .via-slds-x-small-card__body > .via-slds-grid {
        border-bottom: 1px solid #d8dde6;
    }
    
    .via-slds-card__body {
        background-color: #FFF;
        background-clip: padding-box;
    }

    .slds-table_bordered {
        border-bottom: none;
        border-top: none;        
    }    

    .slds-card__footer {
        border-top: none;
        margin-top: 0;
        text-align: left;
    }   

    .slds-border-last-color {
        border-top-color: rgba(0,0,0, .8);
        border-width: 1px;
        font-weight: 700;
    }

    .slds-border-first-color {
        border-top-color: transparent;;
    }    

    .slds-table td, .slds-table th {
        padding: .5rem .5rem .5rem .0rem;
    }    
    .font-weight-bold {
        font-weight: 700;
    }   
    .slds-disconnect {
        color: grey;
    }

}