.vpl-maps {

    #map-canvas {
        width: 100%;
        height: 130px;
        border-radius: 3px 3px 0px 0px;
    }

    .slds-card__footer-action a {
        color: #0070d2;
    }

    .slds-card__footer {
        // padding: .5rem;
        text-align: -webkit-auto;
    }
    a[href^="http://maps.google.com/maps"]{display:none !important}
    a[href^="https://maps.google.com/maps"]{display:none !important}

    .gmnoprint a, .gmnoprint span, .gm-style-cc {
        display:none;
    }
    .gmnoprint div {
        background:none !important;
    }    

}

.via-slds .slds-modal__container {
    margin: -40rem auto;
}