.via-slds-story-cards--header {
    border-bottom: 1px solid #d8dde6;
    border-top: 1px solid #d8dde6;
}

.via-slds-story-cards--header-title {
    position: relative;
}

.via-slds .slds-text-heading--medium {
    color: #54698d;
    background: #f4f6f9;
    font-size: .75rem;
    line-height: 1.25;
    text-transform: uppercase;
    letter-spacing: .0625rem;
    font-weight: 500;
}

.via-slds .slds-theme--shade {
    padding: .5rem 1rem;
    background-color: #f4f6f9;
    align-items: baseline;
}