.via-slds-card--left-profile {
    border:0;
    .via-slds-col {
        border-left: 1px solid #d8dde6;
        &:first-child {
            border-left: 0 none;
        }
    }
    line-height: 1.6;
    .vpl-maps {
        margin-right: -12px;
        margin-left: -12px;
        margin-left: -12px;


    #map-canvas {
        width: 100%;
        height: 130px;
        border-radius: 3px 3px 0px 0px;
    }

    .slds-card__footer-action a {
        color: #0070d2;
    }

    .slds-card__footer {
        text-align: -webkit-auto;
    }
    a[href^="http://maps.google.com/maps"]{display:none !important}
    a[href^="https://maps.google.com/maps"]{display:none !important}

    .gmnoprint a, .gmnoprint span, .gm-style-cc {
        display:none;
    }
    .gmnoprint div {
        background:none !important;
    }    

}

    
    .profile-detail {
        //margin:10px;
    }
    .profile-name {
        font-weight: bold;
        font-size: 20px;
        font-style:normal;
        font-variant:normal;
        text-transform:none;
        text-decoration: none;
        text-align:start;
        text-indent:0px;
        vertical-align:baseline;
        letter-spacing:normal;
        word-spacing:0px
    }
    .profile-info {
        font-size: 12px;
    }
    .profile-picture {
        z-index: 3;
        border: 5px solid white;
        border-radius: 100%;
        box-sizing: content-box;
        margin: 0 auto;
        width: 128px;
        height: 128px;
        overflow: hidden;
        position: relative;
        margin-top: -80px;
        img {
            width: 128px;
            border-radius: 100%;
        }
    }

    .ribbon {
        background: #FFF;
        height: 18px;
        margin: 0 auto;
        position: relative;
        width: 16px;
        text-align: center;
        vertical-align: middle;
        line-height: 18px;
        font-size: 12px;
        color: #FFF;
        display: inline-block;
        margin-top: -10px;
    }
    .ribbon:after,
    .ribbon:before {
        content: '';
        position: absolute;
        border-top: 6px solid #FFF;
        height: 0;
        width: 0;
        top: 100%;
    }
    .ribbon:after {
        border-left: 8px solid transparent;
        right: 0px;
    }
    .ribbon:before {
        border-right: 8px solid transparent;
        left: 0px;
    }

    .ribbon {
        &.diamond,
        &.promoter {
            background: #b9f2ff;
            &:before,
            &:after {
                border-top-color: #b9f2ff;
            }
        }
        &.platinum,
        &.satisfied {
            background: #e5e4e2;
            &:before,
            &:after {
                border-top-color: #e5e4e2;
            }
        }
        &.gold,
        &.neutral {
            background: #FFD700;
            &:before,
            &:after {
                border-top-color: #FFD700;
            }
        }
        &.silver,
        &.dissatisfied {
            background: #C0C0C0;
            &:before,
            &:after {
                border-top-color: #C0C0C0;
            }
        }
        &.bronze,
        &.disgruntled {
            background: #cd7f32;
            &:before,
            &:after {
                border-top-color: #cd7f32;
            }
        }
    }

    .via-action-icon:before {
        font-size: 200%;
    }
}

.shadow-up {
    // box-shadow: 0 -30px 100px 30px #fff, inset 0 15px 15px -15px #f7f7f7;
    box-shadow: 0 -25px 50px 30px #fff, inset 0 0 15px -15px #f7f7f7;
    position: relative;
}